<div class="menu">
    <p>Covid-19 Information</p>
    <div class="nav-line"></div>
    <div class="nav">
        <a href="#">Dashboard View</a>
        <a href="#">Map View</a>
        <a href="#">Epidemic Curves</a>
    </div>
</div>